<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mercado Liebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet"  href= "/css/style.css">
        <script src="https://kit.fontawesome.com/b4df2da41a.js" crossorigin="anonymous"></script>
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> es lo mismo pero mas liviano  -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="viewport" content="width= device-width, initial-scale= 1">
    </head>
    <body>
        <header>
            <div class="primeraParteEncaezado">  
                <a href="/home">
                    <img class="logoMercadoLiebre" src="/images/logo-mercado-liebre.svg" alt="logo" >
                </a>
                <div class="contenedor-de-search-bar">
                    <form method="get" class="search-bar">
                        <input id="barra-de-busqueda" type="text" name="Buscar productos" placeholder="Buscar productos, marcas">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i> 
                        </button>
                    </form>
                </div>
                <div>
                <p class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
            <nav class="segundaParteEncabezado">
                
                    <ul>
                        <div class="site">
                            <li><a href="#ofertas">Ofertas</a></li>
                            <li><a href="#TiendasoF">Tiendas Oficiales</a></li>
                            <li><a href="#vender">Vender</a></li>
                            <li><a href="#ayuda">Ayuda</a></li>
                        </div >
                    </ul>
                    
                <ul>
                    <div class ="loginNavbar">
                        <li><a href="/register"> Crear tu cuenta <i class="fa-solid fa-address-card"></i> </a></li>
                        <li><a href="/login"> Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i> </a></li>
                        <li><a href="#compras"> Mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
                    </div>
                </ul>
                
            </nav>
            <div class="burguer">
                <i class="fa-solid fa-bars"></i>
            </div>
            <section class="banner">
                <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
            </section>
        </header>
    <main>
        <section>
            <h3 class="titulares">Basado en tu última visita</h3>
            <div class="productos">
                <article class="articuloCaja">
                    <!-- <a href="/"> --> <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="200"> <!-- </a>  --> 
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$6.770</p>
                        </div>
                        <div>
                            <p class="discount">40% off</p>
                        </div>
                    </div>
                    <div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                    
                    
                    
                </article>

                <article class="articuloCaja">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen MacBook" width="200"> 
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$230.000</p>
                        </div>
                        <div>
                            <p class="discount">20% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <h4 >MacBook Pro 2019</h4>
                    </div>
                </article>

                <article class="articuloCaja">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="200">
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$70.500</p>
                        </div>
                        <div>
                            <p class="discount">10% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <h4 >Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="articuloCaja">
                    <img src="\images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="200"> 
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$23.200</p>
                        </div>
                        <div>
                            <p class="discount">5% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <h4 >SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>

           <h3 class="titulares"> Ofertas  </h3> 
           <div class="productos">
            <article class="articuloCaja">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="imagen cafetera" width="200">
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$6.770</p>
                        </div>
                        <div>
                            <p class="discount">40% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="articuloCaja">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="imagen MacBook" width="200">
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$230.000</p>
                        </div>
                        <div>
                            <p class="discount">20% off</p>
                        </div>
                    </div>
                    <div  class="description">
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>

                <article class="articuloCaja">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="200">
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$70.500</p>
                        </div>
                        <div>
                            <p class="discount">10% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="articuloCaja">
                    <img src="\images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="200">
                    <div class="contenedor">
                        <div class="circulo">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                    </div>
                    <div class="detalles">
                        <div>
                            <p class="price">$23.200</p>
                        </div>
                        <div>
                            <p class="discount">5% off</p>
                        </div>
                    </div>
                    <div class="description">
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer class="ArticuloDeFooter"> 
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4 class="SubtituloDeFooter"> Pagá con tarjeta o en efectivo </h4>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
        </section>

        <section> 
            <i class="fa-solid fa-gift"></i>
            <h4 class="SubtituloDeFooter"> Envío gratis desde $ 2.500 </h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4 class="SubtituloDeFooter">Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>

